table {
    background-color: rgba(129, 127, 127, 0.89);
    font-family: Helvetica;
    border: 20px solid;
    border-style: ridge;
    border-color: black;
}

#spielfeld {
    width: 500px;
    margin: auto;
    padding: 400px;
}

tr.dreieck {
    font-size: 25px;
}
