body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    height: 80px;
    width: 100%;
}

label.logo{
    color: rgb(165, 99, 194);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li  a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.text1{   
    text-transform: capitalize;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #9e77c8 29%,
        #17d9e0 67%,
        #19059c 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size: 190px;
}
@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
#spiele {
    font-size: 25px;
    text-align: center;
}
#b4 {
    text-align: center;
}

#b2 {
    text-align: center;
}

button {
    transition-duration: 0.4s;
    background-color: #ffffff00;
    border-radius: 12.5px;
    color: rgb(255, 255, 255);
    padding: 15px 16px;
    text-align: center;
    display: inline-block;
    font-weight: lighter;
    font-size: 16px;
    margin: 4px 2px;
    border: 2.5px solid rgb(80, 23, 215);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
    background-color: rgb(80, 23, 215);
    font-size: large;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.navbar1{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
