#spielfeld {
    font-size: 150px;
    text-align: center;
}

body {
    background-color: rgb(9, 59, 42);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    text-align: center;
}

tr {
    font-size: 25px;
    width: 20%;
}

td {
    color: aliceblue;
    width: 20%;
}

#legende {
    font-size: 150px;
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

img {
    height: 150px;
    width: 150px;
}

section {
    text-align: center; 
}

.game-title {
    font-size: 150px;
    color: aliceblue;
    margin: 10px auto;
}

.game-container {
    display: flex;
    justify-content: center;
    width: 306px;
    margin: 10px auto;
    color:rgb(255, 255, 255);
}

.cell {
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 2px 2px rgb(40, 85, 70);
    border: 2px solid rgb(107, 134, 115);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-status {
    font-size: 20px;
    color: rgb(107, 134, 115);
    margin: 20px auto;
}

.game-restart {
    display: block;
    margin: 0 auto;
    background-color: rgb(107, 134, 115);
    width: 250px;
    height: 80px;
    font-size: 25px;
    color: rgb(219, 226, 224);
    box-shadow: 2px 2px 2px 2px rgb(4, 46, 32);
    border: 0px solid;
}

h {
    color: rgb(107, 134, 115);
    font-size: 50px;
}
