#spielfeld {
    font-size: 150px;
    text-align: center;
    border-color: aliceblue;
}

body {
    background-color: rgb(9, 59, 42);
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

    text-align: center;
    font-size: 150px;
    color: aliceblue;
}

tr {
    font-size: 25px;
    width: 20%;
}

td {
    color: aliceblue;
    width: 20%;
}

#legende {
    font-size: 150px;
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

img {
    height: 150px;
    width: 150px;
}

section {
    text-align: center; 
}

.game-title {
    font-size: 100px;
    color: aliceblue;
    margin: 10px auto;
}

.game-container {
    display: flex;
    justify-content: center;
    width: 306px;
    margin: 10px auto;
    color:aliceblue;
}

.cell {
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 2px 2px rgb(0, 3, 2);
    border: 2px solid aliceblue;
    cursor: pointer;
    line-height: 600px;
    font-size: 60px;
}

.game-status {
    font-size: 50px;
    color: aliceblue;
    margin: 20px auto;
}

.game-restart {
    background-color: aliceblue;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: rgb(6, 43, 30);
    box-shadow: 2px 2px 2px 2px rgb(4, 46, 32);
    border: 2px solid aliceblue;
}
