.tic-tac-toe #gameboard {
    width: 60vmin;
    height: 60vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    margin-left: auto;
    margin-right: auto;
}

.tic-tac-toe button {
    width: 20vmin;
    height: 20vmin;
    background: rgb(9, 59, 42);
    border: 1px solid black;
    margin: 0;
    font: 0/0 transparent;
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 2px 2px rgb(40, 85, 70);
    border: 2px solid rgb(107, 134, 115);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


button:hover {
    background: rgb(107, 134, 115);
}

.tic-tac-toe [aria-label="X"] {
    background-image: url('x.png');
    background-size: cover;
}

.tic-tac-toe [aria-label="O"] {
    background-image: url('o.png');
    background-size: cover;
}

#legende {
    font-size: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img {
    height: 150px;
    width: 150px;
}

.game-title {
    font-size: 150px;
    color: aliceblue;
    margin: 10px auto;
}

p {
    font-size: 20px;
    color: aliceblue;
    margin: 20px auto;
    background-color: rgb(107, 134, 115);
}

p:hover {
    color: rgb(14, 27, 18);
}

#game-restart {
    display: block;
    margin: 0 auto;
    background-color: rgb(107, 134, 115);
    width: 250px;
    height: 80px;
    font-size: 25px;
    color: rgb(219, 226, 224);
    box-shadow: 2px 2px 2px 2px rgb(4, 46, 32);
    border: 0px solid;
}

body {
    background-color: rgb(9, 59, 42);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

td {
    color: aliceblue;
    width: 20%;
}

tr {
    font-size: 25px;
    width: 20%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

marquee {
    width: 5%;
    color: rgb(107, 134, 115);
    font-size: 50px;
    cursor: pointer;
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color: rgb(17, 0, 255);
}
